@charset "UTF-8";

.src_out {
    background-color: #000;
    color: #0f0;
    width: 100%;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 0;
    padding: 4px;
}

.src_lc {
    background-color: #000;
    color: #090;
    margin-right: 8px;
}

.src_tag {
    background-color: transparent;
    color: #0ff;
}

.src_att {
    background-color: transparent;
    color: #ff0;
}

.src_com {
    background-color: transparent;
    color: #999;
}

#src_by {
    font-size: 85%;
}
